@model List<Product>

@*Using TempData for displaying notifications*@
@* @if(TempData["success"] != null)
{
    <h4 class="mt-2 p-1 text-bg-success ">@TempData["success"]</h4>
} *@

@*Using partial views for displaying notifications*@
@* <partial name="_Notification"/> *@ @*Shifted this to _Layout.cshtml*@

<div class="containter">
    <div class="row pt-4 pb-2">
        <div class="col-6">
            <h2 class="tst-primary">Product List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-outline-light"><i class="bi bi-plus-circle"></i> Create New Product</a>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="table-dark">
                <th>Title</th>
                <th>ISBN</th>
                <th>Price</th>
                <th>Author</th>
                <th>Category</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var obj in Model)
            {
                <tr class="table-light">
                    <td>@obj.Title</td>
                    <td>@obj.ISBN</td>
                    <td>@obj.ListPrice</td>
                    <td>@obj.Author</td>
                    <td></td>
                    <td>
                        <div class="btn-group" role="group">
                            <a asp-controller="Product" asp-action="Upsert" asp-route-id="@obj.Id" class="btn btn-primary">
                                @*asp-route can have anything in front of it. I used id since that is used in controller*@
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                            <a asp-controller="Product" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger">
                                <i class="bi bi-trash-fill"></i> Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>